@font-face {
    font-family: "Regular";
    src: url("../fonts/TTLakes-Regular.eot");
    src: url("../fonts/TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
      url("../fonts/TTLakes-Regular.woff") format("woff"),
      url("../fonts/TTLakes-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Medium";
    src: url("../fonts/TTLakes-Medium.eot");
    src: url("../fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
      url("../fonts/TTLakes-Medium.woff") format("woff"),
      url("../fonts/TTLakes-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Bold";
    src: url("../fonts/TTLakes-Bold.eot");
    src: url("TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
      url("../fonts/TTLakes-Bold.woff") format("woff"),
      url("../fonts/TTLakes-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Regular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;
  }

.page {
    background: #F8F8F8;
}

.title {
    background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
}

.title h2 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82;
    padding: 16px;
}

.swiper {
    padding: 16px;
}

.swiper-wrapper {
    padding-bottom: 20px;
    
}

.brand-slide {
    display: flex;
    align-items: center;
    padding: 16px;
    width: 240px;
    margin-right: 16px;
    background: #ffffff;
    flex-shrink: 0;
}

.brand-slide--small {
    width: 100%;
    
}

.brand-slide a {
    display: flex;
    min-width: 0;
    justify-content: space-between;
    align-items: center;
}

.show-more {
    display: none;
 
}



@media screen and (min-width: 520px) {
    .swiper-wrapper {
        display: grid;
        grid-template-columns: auto auto;
        gap: 16px 16px;
        height: 130px;
    }

    .brand-slide {
        margin-right: 0;
    }

    .show-more {
        display: flex;
        align-items: center;
        border: none;
        background: transparent;
    }
    
    .show-more::before {
        content: url(../img/ic-expand.svg)
    }

    .show-more.hidden {
        display: flex;
        align-items: center;
    }

    .show-more.hidden::before {
        content: url(../img/expand.svg)
    }
}

@media screen and (min-width: 768px) {
    .swiper-wrapper {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 16px 24px;
    }
}

@media screen and (min-width: 1120px) {
    .swiper-wrapper {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 16px 32px;
    }
}